*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.container{
 height: 100vh;
 background-color: blanchedalmond;
 display: grid;
 grid-template-columns: 200px 1fr;
 grid-template-rows: 165px 1fr;
 
}
/* sidebar */
.sidebar{
 padding: 40px 20px;
 background-color: cornflowerblue;
 grid-area: 1/1/3/2;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 gap: 35px;
}
.sidebar .title{
 display: flex;
 justify-content: flex-start;
 align-items: center;
 gap: 12px;
 color: #ffffff;
}
.title-logo{
 width: 36px;
 height: 36px;
 fill: currentColor;
}
.title>p{
 font-size: 25px;

}
.nav-icon{
 width: 24px;
 height: 24px;
 fill: currentColor;

 /* BOLD CONTROLS */
  stroke: currentColor;       /* Adds an outline of the same color */
  stroke-width: 1px;        /* Start low (e.g., 1px to 1.5px). Too high will distort the shape */
  paint-order: stroke fill;
}
.sidebar ul li {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 12px;
  color: #ffffff;
}
.sidebar ul li:hover {
 border-radius: 10px;
  background-color: #f0f0f0;
  color: #0066cc; 
}


/* ----------header------------ */
.header{
 background-color: #ffffff;
 grid-area: 1/2/2/3;
 /* padding:  20px; */
 display: grid;
 grid-template-columns: 2fr 1fr;
 grid-template-rows: 100px 100px;
 gap: 0 20px;

}
/* header--search */
.search{
 display: flex;
 
 padding: 20px;
 gap: 12px;
 grid-column: 1/2;
 
}
.search-logo{ 
  
transform: translateY(10px);

 width: 24px;
 height: 24px;
 fill: #eceaea;

 stroke: currentColor;
 stroke-width: 1px;
 paint-order: stroke fill;
 
}
.search-area{
 display: flex;
 align-items: center;
 justify-content: right;
 padding: 20px;
 background-color: #eceaea;
 width: 600px;
 height:10px;
 border-radius: 20px;
 text-align: right;
 

}


/* header---notifications */
.notifications{
 grid-column: 2/3;
 
}

.notification-placement{
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 2fr;
  justify-items: center;
  align-items: center;
  padding: 20px;
  gap: 15px;
}
.icon-bell{
width: 24px;
 height: 24px;
 fill: currentColor;

 stroke: currentColor;
 stroke-width: 1px;
 paint-order: stroke fill;
 justify-self: right;
}
.notification-placement img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  justify-self: center;
}
.notification-placement>p{
  font-weight: bold;
  font-size: 20px;
  justify-self: left;
}
/* ---header-actions--- */
.actions{
  
 grid-column: 2/3;

  display: flex;
  justify-content: space-around;
}
.actions .btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 30px;
padding:  20px 30px;
font-weight: 800;

border: none;
color: #ffffff;
background-color: cornflowerblue;
border-radius: 30px;
cursor: pointer;

}
.actions .btn:hover{
  color:cornflowerblue ;
  background-color: #ffffff;
  border: 1px solid black;
}

/* ---header-welcome */
.welcome{
  grid-column: 1/2;
  display: flex;
  gap: 25px;
  justify-content: left;
  padding-left: 20px;
}

.welcome img{
  height: 50px;
  transform: rotate(-45deg);
}
.welcome-text>:first-child{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}
.welcome-text>:last-child{
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 700;
}
/* -------------main-content -----------------*/
.main-content{
 background-color: lightgray;
 grid-area: 2/2/3/3;
}