*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.container{
 height: 100vh;
 background-color: blanchedalmond;
 display: grid;
 grid-template-columns: repeat(4,1fr);
 /* grid-template-rows: repeat(4,1fr); */
 
}
/* sidebar */
.sidebar{
 padding: 40px 20px;
 background-color: #0066cc;;
 grid-area: 1/1/5/2;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 gap: 35px;
}
.sidebar .title{
 display: flex;
 justify-content: flex-start;
 align-items: center;
 gap: 12px;
 /* padding: 12px; */
 color: #ffffff;
}
.title-logo{
 width: 36px;
 height: 36px;
 fill: currentColor;
}
.title>p{
 font-size: 25px;

}
.nav-icon{
 width: 24px;
 height: 24px;
 fill: currentColor;

 /* BOLD CONTROLS */
  stroke: currentColor;       /* Adds an outline of the same color */
  stroke-width: 1px;        /* Start low (e.g., 1px to 1.5px). Too high will distort the shape */
  paint-order: stroke fill;
}
.sidebar ul li {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 12px;
  color: #ffffff;
}
.sidebar ul li:hover {
 border-radius: 10px;
  background-color: #f0f0f0;
  color: #0066cc; 
}


/* header */
.header{
 background-color: #ffffff;
 grid-area: 1/2/2/5;
 padding:  20px;
 display: grid;
 grid-template-columns: 2fr 1fr;
 gap: 0 20px;

}
.search{
 display: flex;
 
 padding: 20px;
 gap: 12px;
 grid-column: 1/2;
 
}
.search-logo{ 
  
  transform: translateY(10px);

 width: 24px;
 height: 24px;
 fill: currentColor;

 stroke: currentColor;
 stroke-width: 1px;
 paint-order: stroke fill;
 
}
.search-area{
 display: flex;
 align-items: center;
 justify-content: right;
 padding: 20px;
 background-color: #eceaea;
 width: 400px;
 height:30px;
 border-radius: 10px;
 text-align: right;
 

}
.notifications{
 grid-column: 2/3;
 
}
.welcome{
 grid-column: 1/2;
 background-color: blueviolet;
}
.actions{
 grid-column: 2/3;
 background-color: chartreuse;
}
.notification-placement{
  /* width: 80%; */
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 2fr;
  justify-items: center;
  align-items: center;
  padding: 20px;
  gap: 15px;
}
.icon-bell{
width: 24px;
 height: 24px;
 fill: currentColor;

 stroke: currentColor;
 stroke-width: 1px;
 paint-order: stroke fill;
 justify-self: right;
}
.notification-placement img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  justify-self: center;
}
.notification-placement>p{
  font-weight: bold;
  font-size: 20px;
  justify-self: left;
}

/* main-content */
.main-content{
 background-color: lightgray;
 grid-area: 2/2/5/5;
}